# General Settings
PROJECT_NAME='example'
DEBUG='true'
REDIRECT_PATH='/auth/callback'
ACCESS_TOKEN_EXPIRE_MINUTES='1440'
REFRESH_TOKEN_EXPIRE_MINUTES='100000'
JWK=''

# Sentry Settings
SENTRY_ENABLED='y'
SENTRY_DSN=''

# Google API Credentials
GOOGLE_CLIENT_ID=''

# Keycloak Settings
KEYCLOAK_CLIENT_ID='auth-service'
KEYCLOAK_URL=''
KEYCLOAK_REALM=''

# Yandex Cloud Settings
YANDEX_S3_ENDPOINT='https://storage.yandexcloud.net'
YANDEX_S3_BUCKET_NAME=''
YANDEX_S3_REGION_NAME='ru-central1'

# Redis Settings
REDIS_TTL='3600'